<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/zjmy.upload/dest/zjmy.upload.min.css" rel="stylesheet">
    <style>
        .upDiv {
            width: 180px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: white;
            cursor: pointer;
            border-radius: 4px;
            font-size:0.9em;
            font-weight: bold;
        }
    </style>
    <script src="/zjmy.upload/jquery-1.8.0.min.js"></script>
    <script src="/zjmy.upload/dest/zjmy.upload.min.js"></script>
    <script>
        $(function () {
            $('#up').upload({
                method: 'POST',
                url: '/upload',
                maxFileCount:2,
                success: function (file, xhr) {
                    console.log(file.name+" success")
                },
                complete: function (file, xhr) {
                    console.log("all upload success")
                }
            });
        })
    </script>
    <title></title>
</head>
<body>
<form>
</form>
<div id="up" class="gradientHead upDiv">上传文件</div>
</body>
</html>